.box{
    height: 48px;
    width: 320px;
    left: 1640px;
    top: -244px;
    border-radius: 24px;
    background: #F9F9F9;
    border: none;
    padding: 3px;
    margin: auto;
    margin-top: 22px;
}

.box > input{
    padding: 10px;
    border: none;
    background: #F9F9F9;
    outline: none;
}

.image{
    padding: 13px;
}

.barstyling{
    background: #F9F9F9;
    border: none;
    height: 48px;
    width: 480px;
    left: 1640px;
    top: -244px;
    border-radius: 24px;
}

