.button{
    border: none;
    height: 30px;
    width: 130px;
    left: 2348px;
    top: -469px;
    border-radius: 18px;
    background: #00A699;
    font-size: 15px;
    text-align: center;
    color: #ffffff;
}

.logo{
    height: 30px;
    width: 250px;
}

